.chipWrapper{
  font-size: 14px;
  padding: 3px 6px;
  border-radius: 4px;
  background: linear-gradient(to top, #5b5f62, #6f7477);
  border: 1px solid #3c3e40;
  margin: 2px;
}
.chipsWrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}
