.wrapper {
  width: 100%;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 5px;
}
.label {
  font-size: 14px;
}
.controlLabel {
  font-size: 13px;
  display: inline-block;
  margin-left: 2px;
}
